:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

#map {
    width: 80%;
    transition: width 0.5s;
    background-color: #0d1938;
    margin: 0em 1em 0em 1em;
}

#panel {
  background-color: #0d111b;
  padding: 1em;
  margin-right: 1em;
  width: 20%;
  transition: width 0.5s;
}

.main-container {
  width:  100%;
  height: 97vh;
}

.flex-container {
  display: flex;
}